<ion-content>
  <div class="bgp" id="container">
    <div id="content">
      <div id="img">
        <img src="assets/sitielogwhite.png" alt="">
      </div>
      <div id="content">
        <h2>Accede a SITIE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="buttons">
        <ion-button color="light" (click)="irAIniciarSesion()">Iniciar Sesión</ion-button>
        <ion-button color="medium" class="ghost" (click)="irARegistro()">Crear una cuenta</ion-button>
      </div>
    </div>
  </div>
</ion-content>
