#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    }

#content {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

#card{
    background-color: #7860C9;
    color: white;
    padding: 20px;
}

ion-card-title {
    font-size: 1.3rem;
}

h5 {
    margin-left: 1.2rem;
    color: grey;
}

  
  